image: registry.gitlab.gnome.org/gnome/mutter/master:v1

stages:
 - review
 - build
 - test

check-commit-log:
  stage: review
  variables:
    GIT_DEPTH: "100"
  script:
    - ./.gitlab-ci/check-commit-log.sh
  only:
    - merge_requests

build-mutter:
  stage: build
  script:
    - meson . build -Dbuildtype=debugoptimized -Degl_device=true -Dwayland_eglstream=true --werror
    - ninja -C build
    - ninja -C build install
  artifacts:
    expire_in: 1 day
    paths:
      - build
  only:
    - merge_requests
    - /^.*$/

test-mutter:
  stage: test
  dependencies:
    - build-mutter
  variables:
    XDG_RUNTIME_DIR: "$CI_PROJECT_DIR/runtime-dir"
    GSETTINGS_SCHEMA_DIR: "$CI_PROJECT_DIR/build/data"
  script:
    - bash -x ./.gitlab-ci/run-tests.sh
  only:
    - merge_requests
    - /^.*$/
  artifacts:
    reports:
      junit: "build/${CI_JOB_NAME}-report.xml"
    name: "mutter-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    paths:
      - "build/meson-logs"
      - "build/${CI_JOB_NAME}-report.xml"
