image: registry.gitlab.gnome.org/gnome/mutter/master:v1

stages:
 - review
 - build
 - test

review-mutter:
  stage: review
  script:
    - ./.gitlab-ci/check-commit-log.sh
  only:
    - merge_requests

build-mutter:
  stage: build
  script:
    - meson . build -Dbuildtype=debugoptimized -Degl_device=true -Dwayland_eglstream=true --werror
    - ninja -C build
    - ninja -C build install
  artifacts:
    expire_in: 1 day
    paths:
      - build
  only:
    - merge_requests
    - /^.*$/

test-mutter:
  stage: test
  dependencies:
    - build-mutter
  variables:
    XDG_RUNTIME_DIR: "$CI_PROJECT_DIR/runtime-dir"
    GSETTINGS_SCHEMA_DIR: "$CI_PROJECT_DIR/build/data"
  script:
    - mkdir -m 700 $XDG_RUNTIME_DIR
    - glib-compile-schemas $GSETTINGS_SCHEMA_DIR
    - >
      dbus-run-session -- xvfb-run -s '+iglx -noreset'
      meson test -C build --no-rebuild -t 10 --verbose --no-stdsplit --wrap catchsegv
  only:
    - merge_requests
    - /^.*$/
