Source: metacity
Section: x11
Priority: optional
Maintainer: Marco Cabizza <marco87@gmail.com>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Josselin Mouette <joss@debian.org>, Loic Minier <lool@dooz.org>, Riccardo Setti <giskard@debian.org>, Sebastian Dröge <slomo@debian.org>
Build-Depends: cdbs (>= 0.4.41),
               debhelper (>= 5),
               gettext,
               libgtk2.0-dev (>= 2.10.0),
               liborbit2-dev (>= 1:2.10.2),
               libpopt-dev,
               libxml2-dev (>= 2.4.23),
               libxcomposite-dev,
               libgconf2-dev (>= 2.6.1-2),
               libglade2-dev (>= 2.4.0),
               libice-dev,
               libsm-dev,
               libx11-dev,
               libxt-dev,
               libxdamage-dev,
               libxext-dev,
               libxfixes-dev,
               libxrandr-dev,
               libxrender-dev,
               x11proto-core-dev,
               libxinerama-dev,
               libstartup-notification0-dev (>= 0.7),
               libxml-parser-perl,
               gnome-pkg-tools (>= 0.10),
               dpkg-dev (>= 1.13.19)
Standards-Version: 3.8.0

Package: metacity
Section: x11
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         metacity-common (>= ${gnome:Version}),
         metacity-common (<< ${gnome:NextVersion})
Provides: x-window-manager
Recommends: gnome-session | x-session-manager
Suggests: gnome-control-center (>= 1:2.5.4),
          gnome-themes
Description: A lightweight GTK2 based Window Manager
 Metacity is a small window manager, using gtk2 to do everything.
 .
 As the author says, metacity is a "Boring window manager for the adult in
 you. Many window managers are like Marshmallow Froot Loops; Metacity is
 like Cheerios."
 .
 This package contains the core binaries.

Package: libmetacity-private0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         metacity-common (>= ${gnome:Version}),
         metacity-common (<< ${gnome:NextVersion})
Conflicts: libmetacity0
Replaces: libmetacity0
Description: library of lightweight GTK2 based Window Manager
 Metacity is a small window manager, using gtk2 to do everything.
 .
 As the author says, metacity is a "Boring window manager for the adult in
 you. Many window managers are like Marshmallow Froot Loops; Metacity is
 like Cheerios."
 .
 This package contains the shared library.

Package: metacity-common
Section: misc
Architecture: all
Depends: ${misc:Depends}
Replaces: metacity (<< 1:2.16.3)
Description: Shared files of lightweight GTK2 based Window Manager
 Metacity is a small window manager, using gtk2 to do everything.
 .
 As the author says, metacity is a "Boring window manager for the adult in
 you. Many window managers are like Marshmallow Froot Loops; Metacity is
 like Cheerios."
 .
 This package contains the shared files.

Package: libmetacity-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libmetacity-private0 (= ${binary:Version}),
         libgtk2.0-dev (>= 2.10.0-1)
Description: Development files of lightweight GTK2 based Window Manager
 Metacity is a small window manager, using gtk2 to do everything.
 .
 As the author says, metacity is a "Boring window manager for the adult in
 you. Many window managers are like Marshmallow Froot Loops; Metacity is
 like Cheerios."
 .
 This package contains the development files.
