#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk

include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk

DEB_CONFIGURE_EXTRA_FLAGS += --enable-startup-notification=yes --enable-xsync=yes
DEB_DH_MAKESHLIBS_ARGS_libmetacity0 += -V 'libmetacity0 (>= 1:2.12)'
DEB_INSTALL_DOCS_metacity := doc/theme-format.txt

# Compile options
DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,-O1 -Wl,--as-needed"

binary-install/metacity-common::
	mkdir -p debian/metacity-common/usr/share/sgml/metacity-common
	install -m 644 doc/metacity-theme.dtd  debian/metacity-common/usr/share/sgml/metacity-common

binary-post-install/metacity-common::
	dh_installcatalogs -pmetacity-common

