#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk

include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk

DEB_CONFIGURE_EXTRA_FLAGS := --enable-startup-notification=yes --enable-xsync=yes
DEB_DH_MAKESHLIBS_ARGS_libmetacity0 := -V 'libmetacity0 (>= 1:2.8.1)'
DEB_INSTALL_DOCS_metacity := doc/theme-format.txt

binary-install/metacity::
	mkdir -p debian/metacity/usr/share/sgml/dtd/
	mkdir -p debian/metacity/usr/share/metacity/
	install -m 644 doc/metacity-theme.dtd  debian/metacity/usr/share/sgml/dtd/
	install -m 644 debian/metacity.catalog debian/metacity/usr/share/metacity/
	rm -rf debian/metacity/usr/share/control-center-2.0
